body{
  padding-top:50px;
}

/*spinning the text*/
#spin {
  font-size: 30px;
  height: 50px;
  width: 600px;
  -webkit-transition: -webkit-transform .15s ease-in-out;
          transition:         transform .15s ease-in-out;
}
#spin:hover {
  -webkit-transform: rotate(1200deg);
          transform: rotate(1200deg);
}

/*animated sprite*/
.hi {
    width: 110px;
    height: 108px;
    margin-bottom: 50px;
    background-image: url("http://bbsimg.ngfiles.com/1/21513000/ngbbs4c4a535c5162b.jpeg");

    -webkit-animation: play .8s steps(3) infinite;
       -moz-animation: play .8s steps(3) infinite;
        -ms-animation: play .8s steps(3) infinite;
         -o-animation: play .8s steps(3) infinite;
            animation: play .8s steps(3) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -352px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -352px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -352px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -352px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -352px; }
}

/*moving colors box*/
/* The animation code */
@keyframes example {
  0%   {background-color: green; left:0px; top:0px;}
  25%  {background-color: gold; left:200px; top:0px;}
  50%  {background-color: teal; left:200px; top:200px;}
  75%  {background-color: magenta; left:0px; top:200px;}
  100% {background-color: red; left:0px; top:0px;}
}

/* The element to apply the animation to */
#box {
    padding-top: 12px;
    font-size: 30px;
    color: white;
    margin-left: 450px;
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
